title { 
color: red;
}
h1 {
	color:#66FF66;
	background-color: #FFAD33;
	border:solid 10px #E0EBEB;
}
h2{
	color:red;
	background-color: blue;
	border:solid 10px #E0EBEB;
}
p1 {
	color: white;
	background-color: blue;
	border:solid 10px #E0EBEB;
}
p2 {
	color: white;
	background-color: blue;
	border:solid 10px #E0EBEB;
}
body{ 
	background-color: yellow;
}
	
